@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

.choose-direction {
  margin-left: 15%;
  bottom: 0;
  margin-top: 14%;
}

#origin {
  margin-bottom: 2em;
}

#path-form-submit {
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
  height: 100px;
  width: 180px;
  margin-left: 15%;
  margin-top: 0;
}

form {
  font-size: 2em;
}

form input {
  border: 1px solid #ded47a;
  border-radius: 5px;
  background: rgba(103, 176, 144, .7);
  color: #f3eee1;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0.3em auto 0.7em;
  padding: 0.15em 0.2em 0.05em;
  line-height: 1.25em;
  outline: none;
}

form button:before {
  content: "";
}

form button.loading:before {
  content: "";
}

.modal {
  background: rgba(207,235,183, 1);
}

.start-journey {
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 5px 7px 10px 0 rgba(0,0,0,0.65); 
  box-shadow: 5px 7px 10px 0 rgba(0,0,0,0.65);
  background-color: #cae7b7;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 40px;
}

.hand-icon {
  position: absolute;
  bottom: -15px;
  left: 54%;
  width: 126px;
}
